# DATABASE
DATABASE_URL=postgresql://user:password@localhost:5433/db

# FIREBASE CONFIG
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_SERVICE_ACCOUNT_PATH=path/to/service-account.json
# FIREBASE_SERVICE_ACCOUNT_JSON is only used in Production (Render/Railway)
FIREBASE_SERVICE_ACCOUNT_JSON=

# SECURITY
ADMIN_API_KEY=your_secret_admin_key

# APP SETTINGS
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
